pandas==2.3.3
numpy==2.4.4
google-cloud-bigquery==3.41.0
db-dtypes==1.5.1
pyarrow==24.0.0
python-dotenv==1.2.2
jupyter==1.1.1
notebook==7.5.5
matplotlib==3.10.9
plotly==6.7.0
streamlit==1.56.0
scikit-learn==1.8.0
pytest==9.0.3
pytest-cov==7.1.0